@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 23, 23, 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 17, 24, 39; */
  }
}

body {
  background: rgb(var(--foreground-rgb));
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #737373; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #737373; /* Gecko Browsers */
}

/* swiper */

.swiper.swiper-cards {
  overflow: visible;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  @apply text-gray-500 text-sm z-20;
}

.swiper-button-prev,
.swiper-button-next {
  @apply hover:text-white cursor-pointer;
}

.title {
  @apply text-gray-50 text-base px-3 font-medium;
}

/* Glow button */

/* .glow-button {
  --button-background: #09041e;
  --button-color: #fff;
  --button-shadow: rgba(33, 4, 104, 0.2);
  --button-shine-left: rgba(120, 0, 245, 0.5);
  --button-shine-right: rgba(200, 148, 255, 0.65);
  --button-glow-start: #B000E8;
  --button-glow-end: #009FFD;

  appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border-radius: 11px;
  position: relative;
  line-height: 24px;
  cursor: pointer;
  color: var(--button-color);
  padding: 0;
  margin: 0;
  background: none;
  z-index: 1;
  box-shadow: 0 8px 20px var(--button-shadow);

  .gradient {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    transform: scaleY(1.02) scaleX(1.005) rotate(-.35deg);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: scale(1.05) translateY(-44px) rotate(0deg) translateZ(0);
      padding-bottom: 100%;
      border-radius: 50%;
      background: linear-gradient(90deg, var(--button-shine-left), var(--button-shine-right));
      animation: rotate linear 2s infinite;
    }
  }

  span {
    z-index: 1;
    position: relative;
    display: block;
    padding: 10px 0;
    width: 132px;
    border-radius: inherit;
    background-color: var(--button-background);
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &:before {
      content: '';
      position: absolute;
      left: -16px;
      top: -16px;
      transform: translate(var(--pointer-x, 0px), var(--pointer-y, 0px)) translateZ(0);
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: var(--button-glow, transparent);
      opacity: var(--button-glow-opacity, 0);
      transition: opacity var(--button-glow-duration, .5s);
      filter: blur(20px);
    }
  }

  &:hover {
    --button-glow-opacity: 1;
    --button-glow-duration: .25s;
  }
}

@keyframes rotate {
  to {
    transform: scale(1.05) translateY(-44px) rotate(360deg) translateZ(0);
  }
} */

.glow-button {
  --button-background: #111827;
  --button-color: #fff;
  --button-shine-left: rgba(109, 40, 217, 0.5);
  --button-shine-right: rgba(196, 181, 253, 0.5);
  --button-glow-start: #8B5CF6;
  --button-glow-end: #3B82F6;

  appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border-radius: 999px;
  position: relative;
  line-height: 24px;
  cursor: pointer;
  color: var(--button-color);
  padding: 0;
  margin: 0;
  background: none;
  z-index: 1;
}

.glow-button .gradient {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  transform: scaleY(1.02) scaleX(1.005) rotate(-.35deg);
}

.glow-button .gradient:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: scale(1.05) translateY(-44px) rotate(0deg) translateZ(0);
  padding-bottom: 100%;
  border-radius: 50%;
  background: linear-gradient(90deg, var(--button-shine-left), var(--button-shine-right));
  animation: rotate linear 2s infinite;
}

.glow-button span {
  z-index: 1;
  position: relative;
  /* display: block; */
  padding: 4px 4px;
  /* width: 186px; */
  border-radius: inherit;
  background-color: var(--button-background);
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.glow-button span:before {
  content: '';
  position: absolute;
  left: -16px;
  top: -16px;
  transform: translate(var(--pointer-x, 0px), var(--pointer-y, 0px)) translateZ(0);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--button-glow, transparent);
  opacity: var(--button-glow-opacity, 0);
  transition: opacity var(--button-glow-duration, .5s);
  filter: blur(20px);
}

.glow-button span:hover {
    --button-glow-opacity: 1;
    --button-glow-duration: .25s;
  }

@keyframes rotate {
  to {
    transform: scale(1.05) translateY(-44px) rotate(360deg) translateZ(0);
  }
}

/* html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
} */