@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 23, 23, 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 17, 24, 39; */
  }
}

body {
  background: rgb(var(--foreground-rgb));
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #737373; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #737373; /* Gecko Browsers */
}

/* swiper */

.swiper.swiper-cards {
  overflow: visible;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  @apply text-gray-500 text-sm z-20;
}

.swiper-button-prev,
.swiper-button-next {
  @apply hover:text-white cursor-pointer;
}

.title {
  @apply text-gray-50 text-base px-3 font-medium;
}