@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 23, 23, 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 17, 24, 39; */
  }
}

body {
  background: rgb(var(--foreground-rgb));
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #737373; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #737373; /* Gecko Browsers */
}